{% extends 'base.html' %}

{% block content %}
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">{{ namaku }} | Wishlist</span>
            <span class="navbar-brand mb-0 h1">{{ nama }}</span>
            <button class="btn btn-sm btn-outline-secondary"><a href="{% url 'wishlist:logout' %}">Logout</a></button>
        </div>
    </nav>

    <nav class="nav justify-content-center">
        <table border=1>
            <tr>
                <th>Nama Barang</th>
                <th>Harga Barang</th>
                <th>Deskripsi</th>
            </tr>
            {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
            {% for barang in list_barang %}
                <tr>
                    <th>{{ barang.nama_barang }}</th>
                    <th>{{ barang.harga_barang }}</th>
                    <th>{{ barang.deskripsi }}</th>
                </tr>
            {% endfor %}
        </table>
    </nav>

    <h5 class="text-center">Sesi terakhir login: {{ last_login }}</h5>


{% endblock content %}